<!-- <%- include('parts/top.ejs')%> <br /><br /><br /><br /><br /><br /><br />
<div class="container">
  <form method="POST" action="/addCour" enctype="multipart/form-data">
    <div class="mb-3">
      <label>Cour Title</label>
      <input type="text" class="form-control" name="Title"/>
    </div>
    
    <div class="mb-3">
      <label>Document</label>
      <input type="file" accept=".pdf" class="form-control" name="Doc"/>
    </div>
    <% if(Smessage){ %>
    <div class="alert alert-success">
      <%=Smessage%>
    </div>
    <% }%>
    <% if(Emessage){ %>
    <div class="alert alert-danger">
      <%=Emessage%>
    </div>
    <% }%>
    <button type="submit" class="btn btn-primary">Add Cour</button>
  </form>
</div>

<%-include('parts/bottom.ejs')%> -->
