<!-- <%- include('parts/top.ejs')%>
<div class="banner header-text">
    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="filters-content">
              <div class="row grid">
                <% for (let niv of niveaux) { %>
                  <div class="col-lg-4 col-md-4 all des">
                    <div class="product-item">
                      <a href="/classe/<%= niv._id %>">
                        <h3><%= niv.Niveau %></h3>
                      </a>
                    </div>
                  </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<%- include('parts/bottom.ejs')%> -->
