
<%- include('parts/top.ejs')%>
<div class="banner header-text">
  
    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="filters-content">
              <div class="row grid">
                <% for (let cl of classe) {%>
                  <div class="col-lg-4 col-md-4 all des">
                    <div class="card-body">
                      <a href="/cour/<%= cl._id %>" class="btn btn-primary">
                        <h3><%- t('class.' + cl.Classe) %></h3>
                      </a>
                    </div>
                  </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<%- include('parts/bottom.ejs')%>
