<footer class="bg-light text-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div
          class="inner-content d-flex flex-column align-items-center justify-content-center"
        >
          <!-- Use flexbox classes -->
          <div class="row mb-5 pb-3 no-gutters">
            <ul class="list-unstyled mb-0 d-flex flex-row">
              <li class="mr-5 mt-4">
                <i class="fas fa-map-marker-alt fa-2x"></i>
                <p>Ouled Ezzedine, Kerkennah, Sfax, Tunis</p>
              </li>
              <li class="mr-5">
                <i class="fas fa-phone mt-4 fa-2x"></i>
                <p>+ 216 27 222 396</p>
                <p>+ 216 21 163 105</p>
              </li>
              <li class="mr-5">
                <i class="fas fa-envelope mt-4 fa-2x"></i>
                <p>Consultations01@gmail.com</p>
              </li>
              <li class="mr-5">
                <i class="fa-brands fa-facebook mt-4 fa-2x"></i>
                <p>Bureau Numérique</p>
              </li>
            </ul>
          </div>
          <div class="col-md-6 text-center">
            <a class="navbar-brand" href="/">
              <h2><strong>BHAR</strong></h2>
              <!-- <img src="../images/Flag_of_Tunisia.jpg" alt="Flag_of_Tunisia" style="height: 48px;"> -->
            </a>
            <!-- Copyright -->
            &copy; 2023 Bhar
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="/vendor/jquery/jquery.min.js"></script>
<!-- <script src="//bootstrap/js/bootstrap.bundle.min.js"></script> -->

<!-- Additional Scripts -->
<script src="/js/custom.js"></script>
<script src="/js/owl.js"></script>
<script src="/js/slick.js"></script>
<script src="/js/isotope.js"></script>
<script src="/js/accordions.js"></script>

<script language="text/Javascript">
  cleared[0] = cleared[1] = cleared[2] = 0 //set a cleared flag for each field
  function clearField(t) {
    //declaring the array outside of the
    if (!cleared[t.id]) {
      // function makes it static and global
      cleared[t.id] = 1 // you could use true and false, but that's more typing
      t.value = '' // with more chance of typos
      t.style.color = '#fff'
    }
  }
</script>
<!-- </body> -->
<!-- </html> -->
